{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
          
        {% endblock title %}
    </title>
    <link rel="stylesheet" href="{% static 'base/bootstrap.min.css' %}">
    <script src="{% static 'base/jquery.min.js' %}"></script>
    {% block style %}
    {% endblock style %}

</head>
<body>
    <div class="container-fluid">
        <ul class="nav nav-tabs justify-content-center">
            <li class="nav-item">
                <a class="nav-link " aria-current="page" href="#">Active</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
        </ul>
    </div>

    {% block content %}
      
    {% endblock content %}

    {% block script %}
      
    {% endblock script %}

    <script src="{% static 'base/bootstrap.bundle.min.js' %}"></script>
</body>
</html>